:root {
  --bg-color: #F8F5F1;
  --primary-color: #24354B;
  --accent-color: #E77A6C;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: var(--bg-color);
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.45;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

section {
  margin: 1rem 0;
}

.navbar {
  display: flex;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: baseline;
}

.navbar-brand {
  font-weight: 900;
  font-size: 2rem;
  color: var(--accent-color);
  text-decoration: none;

  margin-right: 0;
}

.nav-item {
  padding: 0 0.75rem;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
  padding-left: .5rem;;
  font-weight: 600;
  font-size: 1.25rem;
}

footer {
  flex: 0 30px;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem;
  color: var(--primary-color);
  background: var(--bg-color);
  border-top: 1px solid #ddd;
}